{% if menu %}
  {% if nav_tag %}
    <nav class="{{menu_name}}" aria-label="{{aria_label}}">
  {% endif %}

    <ul class="{{menu_name}}__items">

      {% for menu_item in menu %}
        <li class="{{menu_name}}__item{{ menu_item.classes | join(' ') }}">

          {% if menu_item.children %}

            <a class="{{menu_name}}__link" {{ menu_item.target|targetAttr }} href="{{ menu_item.link }}" aria-haspopup="true" aria-expanded="false">
              {{ menu_item.title }}
            </a>

            {% include "menu/menu.twig" with {
              'menu_name': menu_name,
              'menu': menu_item.children,
              'nav_tag': false,
            } %}

          {% else %}

            <a class="{{menu_name}}__link" {{ menu_item.target|targetAttr }} href="{{ menu_item.link }}">
              {{ menu_item.title }}
            </a>

          {% endif %}

        </li>
      {% endfor %}

    </ul>

  {% if nav_tag %}
    </nav>
  {% endif %}
{% endif %}
